* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

img {
  height: 30px;
  width: 30px;
}

.main-container {
  margin-top: 100px;
}

.section-1 {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.container,
.header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 36px;
  margin: 20px;
  padding: 20px;
}

.header-text p {
  font-size: 22px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.btn,
.reset-btn {
  border: 2px solid black;
  border-radius: 12px;
  padding: 20px;
  font-size: 24px;
  background-color: #2f9e44;
  color: white;
  cursor: pointer;
}

.btn:hover,
.reset-btn:hover {
  background-color: white;
  color: black;
}

.counter {
  padding: 15px;
}

.count {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.reset-btn {
  padding: 15px;
  font-size: 18px;
}
